# CoNLL_View_Doc.ipynb

Notebook for viewing individual documents from the CoNLL corpus, for use 
alongside the other CoNLL related notebooks in this directory.

In [1]:
# The Jupyter kernel for this notebook usually starts up inside the notebooks
# directory, but the text_extensions_for_pandas package code is in the parent
# directory. Add that parent directory to the front of the Python include path.
import sys
if (sys.path[0] != ".."):
    sys.path[0] = ".."
    
# Libraries
import numpy as np
import pandas as pd

# And of course we need the text_extensions_for_pandas library itself.
import text_extensions_for_pandas as tp

# Common code shared across notebooks comes from util.py
import util

In [2]:
# Download and cache the data set.
# NOTE: This data set is licensed for research use only. Be sure to adhere
#  to the terms of the license when using this data set!
data_set_info = util.get_conll_data()
data_set_info

{'train': 'outputs/eng.train',
 'dev': 'outputs/eng.testa',
 'test': 'outputs/eng.testb'}

In [3]:
# The raw dataset in its original tokenization
corpus_raw = {}
for fold_name, file_name in data_set_info.items():
    df_list = tp.conll_2003_to_dataframes(file_name, 
                                          ["pos", "phrase", "ent"],
                                          [False, True, True])
    corpus_raw[fold_name] = [
        df.drop(columns=["pos", "phrase_iob", "phrase_type"])
        for df in df_list
    ]

In [4]:
# Convert IOB2-tagged tokens to spans
all_spans = {
    k: [tp.iob_to_spans(df) for df in v] for k, v in corpus_raw.items()
}

In [5]:
# Turn off the 60-row limit for displaying dataframes
pd.options.display.max_rows = None

In [1024]:
fold = "dev"
doc_offset = 214
doc_df = all_spans[fold][doc_offset]
doc_df

                               token_span ent_type
0                         [25, 28): 'IRA'      ORG
1                      [46, 52): 'Venice'      LOC
2                 [63, 74): 'Vera Haller'      PER
3                       [83, 88): 'Italy'      LOC
4               [121, 132): 'Neil Jordan'      PER
5           [187, 202): 'Michael Collins'     MISC
6                       [239, 242): 'IRA'      ORG
7      [285, 305): 'Venice Film Festival'     MISC
8               [326, 337): 'Liam Neeson'      PER
9             [342, 355): 'Julia Roberts'      PER
10          [378, 393): 'Michael Collins'      PER
11    [399, 420): 'Irish Republican Army'      ORG
12                    [463, 468): 'Irish'     MISC
13                  [533, 540): 'Britain'      LOC
14            [646, 659): 'British-ruled'     MISC
15         [660, 676): 'Northern Ireland'      LOC
16                   [678, 684): 'Jordan'      PER
17                    [880, 885): 'Irish'     MISC
18                  [894, 901): 'British'     MISC
19                   [950, 956): 'Jordan'      PER
20             [989, 1000): 'Warner Bros'      ORG
21                 [1079, 1085): 'Jordan'      PER
22        [1105, 1120): 'The Crying Game'     MISC
23                    [1201, 1204): 'IRA'      ORG
24                [1211, 1218): 'Collins'      PER
25           [1363, 1375): 'Mao Tse-Tung'      PER
26                  [1379, 1384): 'China'      LOC
27          [1388, 1401): 'Yitzak Shamir'      PER
28                 [1405, 1411): 'Israel'      LOC
29                 [1415, 1421): 'Jordan'      PER
30                [1430, 1437): 'Collins'      PER
31                 [1578, 1584): 'Leeson'      PER
32  [1590, 1611): 'Northern Ireland-born'     MISC
33                  [1643, 1648): 'Oscar'      PER
34       [1689, 1705): 'Schindler's List'     MISC
35                 [1732, 1738): 'Jordan'      PER
36            [1747, 1758): 'Aidan Quinn'      PER
37           [1768, 1780): 'Harry Boland'      PER
38                [1782, 1789): 'Collins'      PER
39          [1831, 1844): 'Kitty Kiernan'      PER
40                [1856, 1863): 'Roberts'      PER
41                 [1906, 1912): 'Dublin'      LOC
42                 [1918, 1924): 'Jordan'      PER
43                [2055, 2062): 'Collins'      PER
44                 [2117, 2123): 'Jordan'      PER
45                [2547, 2554): 'Collins'      PER
46                [2633, 2640): 'Britain'      LOC
47        [2740, 2755): 'Michael Collins'     MISC
48                 [2803, 2809): 'Jordan'      PER
49                [2903, 2910): 'Ireland'      LOC

In [1025]:
doc_df["token_span"].values

<TokenSpanArray>
[                      [25, 28): 'IRA',                    [46, 52): 'Venice',
               [63, 74): 'Vera Haller',                     [83, 88): 'Italy',
             [121, 132): 'Neil Jordan',         [187, 202): 'Michael Collins',
                     [239, 242): 'IRA',    [285, 305): 'Venice Film Festival',
             [326, 337): 'Liam Neeson',           [342, 355): 'Julia Roberts',
         [378, 393): 'Michael Collins',   [399, 420): 'Irish Republican Army',
                   [463, 468): 'Irish',                 [533, 540): 'Britain',
           [646, 659): 'British-ruled',        [660, 676): 'Northern Ireland',
                  [678, 684): 'Jordan',                   [880, 885): 'Irish',
                 [894, 901): 'British',                  [950, 956): 'Jordan',
            [989, 1000): 'Warner Bros',                [1079, 1085): 'Jordan',
       [1105, 1120): 'The Crying Game',                   [1201, 1204): 'IRA',
               [1211, 1218): 'Collins',          [1363, 1375): 'Mao Tse-Tung',
                 [1379, 1384): 'China',         [1388, 1401): 'Yitzak Shamir',
                [1405, 1411): 'Israel',                [1415, 1421): 'Jordan',
               [1430, 1437): 'Collins',                [1578, 1584): 'Leeson',
 [1590, 1611): 'Northern Ireland-born',                 [1643, 1648): 'Oscar',
      [1689, 1705): 'Schindler's List',                [1732, 1738): 'Jordan',
           [1747, 1758): 'Aidan Quinn',          [1768, 1780): 'Harry Boland',
               [1782, 1789): 'Collins',         [1831, 1844): 'Kitty Kiernan',
               [1856, 1863): 'Roberts',                [1906, 1912): 'Dublin',
                [1918, 1924): 'Jordan',               [2055, 2062): 'Collins',
                [2117, 2123): 'Jordan',               [2547, 2554): 'Collins',
               [2633, 2640): 'Britain',       [2740, 2755): 'Michael Collins',
                [2803, 2809): 'Jordan',               [2903, 2910): 'Ireland']
Length: 50, dtype: TokenSpanType

In [982]:
# Dataframe of tokens for finding offsets
toks_df = corpus_raw[fold][doc_offset]
toks_df

,char_span,token_span,ent_iob,ent_type,sentence
0,"[0, 10): '-DOCSTART-'","[0, 10): '-DOCSTART-'",O,None,"[0, 10): '-DOCSTART-'"
1,"[11, 16): 'HORSE'","[11, 16): 'HORSE'",O,None,"[11, 60): 'HORSE RACING- TATTERSALLS BREEDERS ..."
2,"[17, 23): 'RACING'","[17, 23): 'RACING'",O,None,"[11, 60): 'HORSE RACING- TATTERSALLS BREEDERS ..."
3,"[23, 24): '-'","[23, 24): '-'",O,None,"[11, 60): 'HORSE RACING- TATTERSALLS BREEDERS ..."
4,"[25, 36): 'TATTERSALLS'","[25, 36): 'TATTERSALLS'",B,MISC,"[11, 60): 'HORSE RACING- TATTERSALLS BREEDERS ..."
5,"[37, 45): 'BREEDERS'","[37, 45): 'BREEDERS'",I,MISC,"[11, 60): 'HORSE RACING- TATTERSALLS BREEDERS ..."
6,"[46, 52): 'STAKES'","[46, 52): 'STAKES'",O,None,"[11, 60): 'HORSE RACING- TATTERSALLS BREEDERS ..."
7,"[53, 59): 'RESULT'","[53, 59): 'RESULT'",O,None,"[11, 60): 'HORSE RACING- TATTERSALLS BREEDERS ..."
8,"[59, 60): '.'","[59, 60): '.'",O,None,"[11, 60): 'HORSE RACING- TATTERSALLS BREEDERS ..."
9,"[61, 67): 'DUBLIN'","[61, 67): 'DUBLIN'",B,LOC,"[61, 78): 'DUBLIN 1996-08-31'"
10,"[68, 78): '1996-08-31'","[68, 78): '1996-08-31'",O,None,"[61, 78): 'DUBLIN 1996-08-31'"
11,"[79, 85): 'Result'","[79, 85): 'Result'",O,None,"[79, 113): 'Result of the Tattersalls Breeders'"
12,"[86, 88): 'of'","[86, 88): 'of'",O,None,"[79, 113): 'Result of the Tattersalls Breeders'"
13,"[89, 92): 'the'","[89, 92): 'the'",O,None,"[79, 113): 'Result of the Tattersalls Breeders'"
14,"[93, 104): 'Tattersalls'","[93, 104): 'Tattersalls'",B,MISC,"[79, 113): 'Result of the Tattersalls Breeders'"
15,"[105, 113): 'Breeders'","[105, 113): 'Breeders'",I,MISC,"[79, 113): 'Result of the Tattersalls Breeders'"
16,"[114, 120): 'Stakes'","[114, 120): 'Stakes'",B,MISC,"[114, 175): 'Stakes, a race for two-year-olds ..."
17,"[120, 121): ','","[120, 121): ','",O,None,"[114, 175): 'Stakes, a race for two-year-olds ..."
18,"[122, 123): 'a'","[122, 123): 'a'",O,None,"[114, 175): 'Stakes, a race for two-year-olds ..."
19,"[124, 128): 'race'","[124, 128): 'race'",O,None,"[114, 175): 'Stakes, a race for two-year-olds ..."
20,"[129, 132): 'for'","[129, 132): 'for'",O,None,"[114, 175): 'Stakes, a race for two-year-olds ..."
21,"[133, 146): 'two-year-olds'","[133, 146): 'two-year-olds'",O,None,"[114, 175): 'Stakes, a race for two-year-olds ..."
22,"[147, 150): 'run'","[147, 150): 'run'",O,None,"[114, 175): 'Stakes, a race for two-year-olds ..."
23,"[151, 155): 'over'","[151, 155): 'over'",O,None,"[114, 175): 'Stakes, a race for two-year-olds ..."
24,"[156, 159): 'six'","[156, 159): 'six'",O,None,"[114, 175): 'Stakes, a race for two-year-olds ..."
25,"[160, 168): 'furlongs'","[160, 168): 'furlongs'",O,None,"[114, 175): 'Stakes, a race for two-year-olds ..."
26,"[169, 170): '('","[169, 170): '('",O,None,"[114, 175): 'Stakes, a race for two-year-olds ..."
27,"[170, 175): '1,200'","[170, 175): '1,200'",O,None,"[114, 175): 'Stakes, a race for two-year-olds ..."
28,"[176, 182): 'metres'","[176, 182): 'metres'",O,None,"[176, 211): 'metres) at The Curragh on Saturday:'"
29,"[182, 183): ')'","[182, 183): ')'",O,None,"[176, 211): 'metres) at The Curragh on Saturday:'"
30,"[184, 186): 'at'","[184, 186): 'at'",O,None,"[176, 211): 'metres) at The Curragh on Saturday:'"
31,"[187, 190): 'The'","[187, 190): 'The'",B,LOC,"[176, 211): 'metres) at The Curragh on Saturday:'"
32,"[191, 198): 'Curragh'","[191, 198): 'Curragh'",I,LOC,"[176, 211): 'metres) at The Curragh on Saturday:'"
33,"[199, 201): 'on'","[199, 201): 'on'",O,None,"[176, 211): 'metres) at The Curragh on Saturday:'"
34,"[202, 210): 'Saturday'","[202, 210): 'Saturday'",O,None,"[176, 211): 'metres) at The Curragh on Saturday:'"
35,"[210, 211): ':'","[210, 211): ':'",O,None,"[176, 211): 'metres) at The Curragh on Saturday:'"
36,"[212, 214): '1.'","[212, 214): '1.'",O,None,"[212, 274): '1. Miss Stamper 3-1 joint-favouri..."
37,"[215, 219): 'Miss'","[215, 219): 'Miss'",B,PER,"[212, 274): '1. Miss Stamper 3-1 joint-favouri..."
38,"[220, 227): 'Stamper'","[220, 227): 'Stamper'",I,PER,"[212, 274): '1. Miss Stamper 3-1 joint-favouri..."
39,"[228, 231): '3-1'","[228, 231): '3-1'",O,None,"[212, 274): '1. Miss Stamper 3-1 joint-favouri..."
40,"[232, 247): 'joint-favourite'","[232, 247): 'joint-favourite'",O,None,"[212, 274): '1. Miss Stamper 3-1 joint-favouri..."
41,"[248, 249): '('","[248, 249): '('",O,None,"[212, 274): '1. Miss Stamper 3-1 joint-favouri..."
42,"[249, 255): 'ridden'","[249, 255): 'ridden'",O,None,"[212, 274): '1. Miss Stamper 3-1 joint-favouri..."
43,"[256, 258): 'by'","[256, 258): 'by'",O,None,"[212, 274): '1. Miss Stamper 3-1 joint-favouri..."
44,"[259, 264): 'David'","[259, 264): 'David'",B,PER,"[212, 274): '1. Miss Stamper 3-1 joint-favouri..."
45,"[265, 273): 'Harrison'","[265, 273): 'Harrison'",I,PER,"[212, 274): '1. Miss Stamper 3-1 joint-favouri..."
46,"[273, 274): ')'","[273, 274): ')'",O,None,"[212, 274): '1. Miss Stamper 3-1 joint-favouri..."
47,"[275, 277): '2.'","[275, 277): '2.'",O,None,"[275, 311): '2. Paddy Lad 16-1 (Peter Bloomfie..."
48,"[278, 283): 'Paddy'","[278, 283): 'Paddy'",B,PER,"[275, 311): '2. Paddy Lad 16-1 (Peter Bloomfie..."
49,"[284, 287): 'Lad'","[284, 287): 'Lad'",I,PER,"[275, 311): '2. Paddy Lad 16-1 (Peter Bloomfie..."
50,"[288, 292): '16-1'","[288, 292): '16-1'",O,None,"[275, 311): '2. Paddy Lad 16-1 (Peter Bloomfie..."
51,"[293, 294): '('","[293, 294): '('",O,None,"[275, 311): '2. Paddy Lad 16-1 (Peter Bloomfie..."
52,"[294, 299): 'Peter'","[294, 299): 'Peter'",B,PER,"[275, 311): '2. Paddy Lad 16-1 (Peter Bloomfie..."
53,"[300, 310): 'Bloomfield'","[300, 310): 'Bloomfield'",I,PER,"[275, 311): '2. Paddy Lad 16-1 (Peter Bloomfie..."
54,"[310, 311): ')'","[310, 311): ')'",O,None,"[275, 311): '2. Paddy Lad 16-1 (Peter Bloomfie..."
55,"[312, 314): '3.'","[312, 314): '3.'",O,None,"[312, 344): '3. Pelham 10-1 (Warren O'Connor)'"
56,"[315, 321): 'Pelham'","[315, 321): 'Pelham'",B,PER,"[312, 344): '3. Pelham 10-1 (Warren O'Connor)'"
57,"[322, 326): '10-1'","[322, 326): '10-1'",O,None,"[312, 344): '3. Pelham 10-1 (Warren O'Connor)'"
58,"[327, 328): '('","[327, 328): '('",O,None,"[312, 344): '3. Pelham 10-1 (Warren O'Connor)'"
59,"[328, 334): 'Warren'","[328, 334): 'Warren'",B,PER,"[312, 344): '3. Pelham 10-1 (Warren O'Connor)'"
60,"[335, 343): 'O'Connor'","[335, 343): 'O'Connor'",I,PER,"[312, 344): '3. Pelham 10-1 (Warren O'Connor)'"
61,"[343, 344): ')'","[343, 344): ')'",O,None,"[312, 344): '3. Pelham 10-1 (Warren O'Connor)'"
62,"[345, 354): 'Distances'","[345, 354): 'Distances'",O,None,"[345, 394): 'Distances: Three lengths, two-and..."
63,"[354, 355): ':'","[354, 355): ':'",O,None,"[345, 394): 'Distances: Three lengths, two-and..."
64,"[356, 361): 'Three'","[356, 361): 'Three'",O,None,"[345, 394): 'Distances: Three lengths, two-and..."
65,"[362, 369): 'lengths'","[362, 369): 'lengths'",O,None,"[345, 394): 'Distances: Three lengths, two-and..."
66,"[369, 370): ','","[369, 370): ','",O,None,"[345, 394): 'Distances: Three lengths, two-and..."
67,"[371, 385): 'two-and-a-half'","[371, 385): 'two-and-a-half'",O,None,"[345, 394): 'Distances: Three lengths, two-and..."
68,"[386, 393): 'lengths'","[386, 393): 'lengths'",O,None,"[345, 394): 'Distances: Three lengths, two-and..."
69,"[393, 394): '.'","[393, 394): '.'",O,None,"[345, 394): 'Distances: Three lengths, two-and..."
70,"[395, 401): 'Winner'","[395, 401): 'Winner'",O,None,"[395, 451): 'Winner owned by John and Beryll R..."
71,"[402, 407): 'owned'","[402, 407): 'owned'",O,None,"[395, 451): 'Winner owned by John and Beryll R..."
72,"[408, 410): 'by'","[408, 410): 'by'",O,None,"[395, 451): 'Winner owned by John and Beryll R..."
73,"[411, 415): 'John'","[411, 415): 'John'",B,PER,"[395, 451): 'Winner owned by John and Beryll R..."
74,"[416, 419): 'and'","[416, 419): 'and'",O,None,"[395, 451): 'Winner owned by John and Beryll R..."
75,"[420, 426): 'Beryll'","[420, 426): 'Beryll'",B,PER,"[395, 451): 'Winner owned by John and Beryll R..."
76,"[427, 436): 'Remblance'","[427, 436): 'Remblance'",I,PER,"[395, 451): 'Winner owned by John and Beryll R..."
77,"[437, 440): 'and'","[437, 440): 'and'",O,None,"[395, 451): 'Winner owned by John and Beryll R..."
78,"[441, 448): 'trained'","[441, 448): 'trained'",O,None,"[395, 451): 'Winner owned by John and Beryll R..."
79,"[449, 451): 'in'","[449, 451): 'in'",O,None,"[395, 451): 'Winner owned by John and Beryll R..."
80,"[452, 459): 'Britain'","[452, 459): 'Britain'",B,LOC,"[452, 478): 'Britain by Richard Hannon.'"
81,"[460, 462): 'by'","[460, 462): 'by'",O,None,"[452, 478): 'Britain by Richard Hannon.'"
82,"[463, 470): 'Richard'","[463, 470): 'Richard'",B,PER,"[452, 478): 'Britain by Richard Hannon.'"
83,"[471, 477): 'Hannon'","[471, 477): 'Hannon'",I,PER,"[452, 478): 'Britain by Richard Hannon.'"
84,"[477, 478): '.'","[477, 478): '.'",O,None,"[452, 478): 'Britain by Richard Hannon.'"
85,"[479, 484): 'Value'","[479, 484): 'Value'",O,None,"[479, 515): 'Value to the winning owner: $233,..."
86,"[485, 487): 'to'","[485, 487): 'to'",O,None,"[479, 515): 'Value to the winning owner: $233,..."
87,"[488, 491): 'the'","[488, 491): 'the'",O,None,"[479, 515): 'Value to the winning owner: $233,..."
88,"[492, 499): 'winning'","[492, 499): 'winning'",O,None,"[479, 515): 'Value to the winning owner: $233,..."
89,"[500, 505): 'owner'","[500, 505): 'owner'",O,None,"[479, 515): 'Value to the winning owner: $233,..."
90,"[505, 506): ':'","[505, 506): ':'",O,None,"[479, 515): 'Value to the winning owner: $233,..."
91,"[507, 508): '$'","[507, 508): '$'",O,None,"[479, 515): 'Value to the winning owner: $233,..."
92,"[508, 515): '233,600'","[508, 515): '233,600'",O,None,"[479, 515): 'Value to the winning owner: $233,..."