# Tables demo/ workbook

In [1]:
# INITIALIZATION BOILERPLATE

# The Jupyter kernel for this notebook usually starts up inside the notebooks
# directory, but the text_extensions_for_pandas package code is in the parent
# directory. Add that parent directory to the front of the Python include path.
import sys
if (sys.path[0] != ".."):
    sys.path[0] = ".."

import json
import os
from ibm_watson import CompareComplyV1
from ibm_cloud_sdk_core.authenticators import IAMAuthenticator
from ibm_watson import ApiException

import pandas as pd 
import pickle

In [2]:
# Retrieve the APIKEY for authentication
apikey = os.environ.get("IBM_API_KEY_TABLES")
if apikey is None:
    raise ValueError("Expected apikey in the environment variable 'IBM_API_KEY'")

# Get the service URL for your IBM Cloud instance
ibm_cloud_service_url = os.environ.get("IBM_SERVICE_URL_TABLES")
if ibm_cloud_service_url is None:
    raise ValueError("Expected IBM cloud service URL in the environment variable 'IBM_SERVICE_URL'")

In [3]:
#initialize the authenticator
authenticator = IAMAuthenticator(apikey)
compare_comply = CompareComplyV1(
    version = '2020-1-1',
    authenticator=authenticator
)

compare_comply.set_service_url(ibm_cloud_service_url)

In [194]:
base_example_path = "../resources/tables/"
file_names = [ "20-populous-countries", "cali-temp-chart", "california-population-chart","WHO-covid-overview-chart", "double_header_table"]

archive_name = "archive1"
#set to true to query watson
re_query_watson = False

In [78]:
#responses_dict = {}
if re_query_watson:
    print("This shouldn't happen")
    for file_n in file_names:
        with open(f"{base_example_path}{file_n}.pdf", 'rb') as base_file:
            try:
                result = compare_comply.extract_tables(base_file).get_result()
                responses_dict[file_n] = result
            except ApiException as ex:
                print ("Method failed with status code " + str(ex.code) + ": " + ex.message)
     #archive file
    with open(f"{base_example_path}{archive_name}.pkl", 'wb') as archive_file:
        pickle.dump(responses_dict, archive_file)
else:
    with open(f"{base_example_path}{archive_name}.pkl", 'rb') as archive_file:
        responses_dict = pickle.load(archive_file)

This shouldn't happen

In [82]:
json.dumps(responses_dict["double_header_table"], indent = 2)

'{\n  "document": {\n    "title": "Document1",\n    "html": "<?xml version=\'1.0\' encoding=\'UTF-8\' standalone=\'yes\'?><html>\\n<head>\\n    <meta content=\\"text/html; charset=UTF-8\\" http-equiv=\\"Content-Type\\"/><meta content=\\"Zachary Eichenberger\\" name=\\"author\\"/><meta content=\\"2020-07-23\\" name=\\"publicationdate\\"/><meta content=\\"1\\" name=\\"numPages\\"/><title>Document1</title><style>/**/\\n .Calibri_Black_12_0{font-size: 12.0pt; font-family: Calibri; color: Black; }\\n/**/</style></head>\\n<body><table border=\\"1\\" data-max-height=\\"115.12005615234375\\" data-max-width=\\"522.1603393554688\\" data-max-x=\\"22.501543045043945\\" data-max-y=\\"67.73318481445312\\" data-min-height=\\"115.12005615234375\\" data-min-width=\\"522.1603393554688\\" data-min-x=\\"22.501543045043945\\" data-min-y=\\"67.73318481445312\\" data-page=\\"1\\"><tbody><tr><td colspan=\\"1\\" colstart=\\"1\\" rowspan=\\"1\\" rowstart=\\"1\\">\\u00a0</td><td colspan=\\"2\\" colstart=\\"2\\" rowspan=\\"1\\" rowstart=\\"1\\"><p indentation=\\"1\\"><span class=\\"Calibri_Black_12_0\\"><bbox height=\\"7.584000587463379\\" page=\\"1\\" width=\\"164.24761962890625\\" x=\\"171.26181030273438\\" y=\\"76.66917419433594\\">Three months ended setptember </bbox></span><span class=\\"Calibri_Black_12_0\\"><bbox height=\\"7.584000587463379\\" page=\\"1\\" width=\\"14.876068115234375\\" x=\\"171.26181030273438\\" y=\\"91.30918884277344\\">30 </bbox></span></p></td><td colspan=\\"2\\" colstart=\\"4\\" rowspan=\\"1\\" rowstart=\\"1\\"><p indentation=\\"3\\"><span class=\\"Calibri_Black_12_0\\"><bbox height=\\"7.584000587463379\\" page=\\"1\\" width=\\"176.3311767578125\\" x=\\"358.2216796875\\" y=\\"76.66917419433594\\">Nine months ended setptember 30 </bbox></span></p><p indentation=\\"0\\"> </p></td></tr><tr><td colspan=\\"1\\" colstart=\\"1\\" rowspan=\\"1\\" rowstart=\\"2\\">\\u00a0</td><td colspan=\\"1\\" colstart=\\"2\\" rowspan=\\"1\\" rowstart=\\"2\\"><p indentation=\\"1\\"><span class=\\"Calibri_Black_12_0\\"><bbox height=\\"7.584000587463379\\" page=\\"1\\" width=\\"27.040130615234375\\" x=\\"171.26181030273438\\" y=\\"106.42918395996094\\">2005 </bbox></span></p></td><td colspan=\\"1\\" colstart=\\"3\\" rowspan=\\"1\\" rowstart=\\"2\\"><p indentation=\\"2\\"><span class=\\"Calibri_Black_12_0\\"><bbox height=\\"7.584000587463379\\" page=\\"1\\" width=\\"27.040069580078125\\" x=\\"264.8616943359375\\" y=\\"106.42918395996094\\">2004 </bbox></span></p></td><td colspan=\\"1\\" colstart=\\"4\\" rowspan=\\"1\\" rowstart=\\"2\\"><p indentation=\\"3\\"><span class=\\"Calibri_Black_12_0\\"><bbox height=\\"7.584000587463379\\" page=\\"1\\" width=\\"27.04034423828125\\" x=\\"358.2216796875\\" y=\\"106.42918395996094\\">2005 </bbox></span></p></td><td colspan=\\"1\\" colstart=\\"5\\" rowspan=\\"1\\" rowstart=\\"2\\"><p indentation=\\"4\\"><span class=\\"Calibri_Black_12_0\\"><bbox height=\\"7.584000587463379\\" page=\\"1\\" width=\\"27.040069580078125\\" x=\\"451.8216857910156\\" y=\\"106.42918395996094\\">2004 </bbox></span></p></td></tr><tr><td colspan=\\"1\\" colstart=\\"1\\" rowspan=\\"1\\" rowstart=\\"3\\"><p indentation=\\"0\\"><span class=\\"Calibri_Black_12_0\\"><bbox height=\\"7.584000587463379\\" page=\\"1\\" width=\\"90.74910736083984\\" x=\\"32.541603088378906\\" y=\\"121.54917907714844\\">Statatory tax rate </bbox></span></p></td><td colspan=\\"1\\" colstart=\\"2\\" rowspan=\\"1\\" rowstart=\\"3\\"><p indentation=\\"1\\"><span class=\\"Calibri_Black_12_0\\"><bbox height=\\"7.584000587463379\\" page=\\"1\\" width=\\"23.454193115234375\\" x=\\"171.26181030273438\\" y=\\"121.54917907714844\\">35% </bbox></span></p></td><td colspan=\\"1\\" colstart=\\"3\\" rowspan=\\"1\\" rowstart=\\"3\\"><p indentation=\\"2\\"><span class=\\"Calibri_Black_12_0\\"><bbox height=\\"7.584000587463379\\" page=\\"1\\" width=\\"23.454254150390625\\" x=\\"264.8616943359375\\" y=\\"121.54917907714844\\">36% </bbox></span></p></td><td colspan=\\"1\\" colstart=\\"4\\" rowspan=\\"1\\" rowstart=\\"3\\"><p indentation=\\"3\\"><span class=\\"Calibri_Black_12_0\\"><bbox height=\\"7.584000587463379\\" page=\\"1\\" width=\\"23.454254150390625\\" x=\\"358.2216796875\\" y=\\"121.54917907714844\\">37% </bbox></span></p></td><td colspan=\\"1\\" colstart=\\"5\\" rowspan=\\"1\\" rowstart=\\"3\\"><p indentation=\\"4\\"><span class=\\"Calibri_Black_12_0\\"><bbox height=\\"7.584000587463379\\" page=\\"1\\" width=\\"23.454254150390625\\" x=\\"451.8216857910156\\" y=\\"121.54917907714844\\">38% </bbox></span></p></td></tr><tr><td colspan=\\"1\\" colstart=\\"1\\" rowspan=\\"1\\" rowstart=\\"4\\"><p indentation=\\"0\\"><span class=\\"Calibri_Black_12_0\\"><bbox height=\\"7.584000587463379\\" page=\\"1\\" width=\\"101.62996673583984\\" x=\\"32.541603088378906\\" y=\\"136.66917419433594\\">IRS audit settlement </bbox></span></p></td><td colspan=\\"1\\" colstart=\\"2\\" rowspan=\\"1\\" rowstart=\\"4\\"><p indentation=\\"1\\"><span class=\\"Calibri_Black_12_0\\"><bbox height=\\"7.584000587463379\\" page=\\"1\\" width=\\"23.454193115234375\\" x=\\"171.26181030273438\\" y=\\"136.66917419433594\\">97% </bbox></span></p></td><td colspan=\\"1\\" colstart=\\"3\\" rowspan=\\"1\\" rowstart=\\"4\\"><p indentation=\\"2\\"><span class=\\"Calibri_Black_12_0\\"><bbox height=\\"7.584000587463379\\" page=\\"1\\" width=\\"32.56561279296875\\" x=\\"264.8616943359375\\" y=\\"136.66917419433594\\">35.5% </bbox></span></p></td><td colspan=\\"1\\" colstart=\\"4\\" rowspan=\\"1\\" rowstart=\\"4\\"><p indentation=\\"3\\"><span class=\\"Calibri_Black_12_0\\"><bbox height=\\"7.584000587463379\\" page=\\"1\\" width=\\"23.454254150390625\\" x=\\"358.2216796875\\" y=\\"136.66917419433594\\">58% </bbox></span></p></td><td colspan=\\"1\\" colstart=\\"5\\" rowspan=\\"1\\" rowstart=\\"4\\"><p indentation=\\"4\\"><span class=\\"Calibri_Black_12_0\\"><bbox height=\\"7.584000587463379\\" page=\\"1\\" width=\\"32.56536865234375\\" x=\\"451.8216857910156\\" y=\\"136.66917419433594\\">15.2% </bbox></span></p></td></tr><tr><td colspan=\\"1\\" colstart=\\"1\\" rowspan=\\"1\\" rowstart=\\"5\\"><p indentation=\\"0\\"><span class=\\"Calibri_Black_12_0\\"><bbox height=\\"7.584000587463379\\" page=\\"1\\" width=\\"97.67488861083984\\" x=\\"32.541603088378906\\" y=\\"152.02915954589844\\">Dividends received </bbox></span></p></td><td colspan=\\"1\\" colstart=\\"2\\" rowspan=\\"1\\" rowstart=\\"5\\"><p indentation=\\"1\\"><span class=\\"Calibri_Black_12_0\\"><bbox height=\\"7.584000587463379\\" page=\\"1\\" width=\\"32.56549072265625\\" x=\\"171.26181030273438\\" y=\\"152.02915954589844\\">13.2% </bbox></span></p></td><td colspan=\\"1\\" colstart=\\"3\\" rowspan=\\"1\\" rowstart=\\"5\\"><p indentation=\\"2\\"><span class=\\"Calibri_Black_12_0\\"><bbox height=\\"7.584000587463379\\" page=\\"1\\" width=\\"26.4835205078125\\" x=\\"264.8616943359375\\" y=\\"152.02915954589844\\">3.3% </bbox></span></p></td><td colspan=\\"1\\" colstart=\\"4\\" rowspan=\\"1\\" rowstart=\\"5\\"><p indentation=\\"3\\"><span class=\\"Calibri_Black_12_0\\"><bbox height=\\"7.584000587463379\\" page=\\"1\\" width=\\"32.56561279296875\\" x=\\"358.2216796875\\" y=\\"152.02915954589844\\">15.4% </bbox></span></p></td><td colspan=\\"1\\" colstart=\\"5\\" rowspan=\\"1\\" rowstart=\\"5\\"><p indentation=\\"4\\"><span class=\\"Calibri_Black_12_0\\"><bbox height=\\"7.584000587463379\\" page=\\"1\\" width=\\"26.4832763671875\\" x=\\"451.8216857910156\\" y=\\"152.02915954589844\\">4.7% </bbox></span></p></td></tr><tr><td colspan=\\"1\\" colstart=\\"1\\" rowspan=\\"1\\" rowstart=\\"6\\"><p indentation=\\"0\\"><span class=\\"Calibri_Black_12_0\\"><bbox height=\\"7.584000587463379\\" page=\\"1\\" width=\\"67.72175598144531\\" x=\\"32.541603088378906\\" y=\\"167.14915466308594\\">Total tax rate </bbox></span></p></td><td colspan=\\"1\\" colstart=\\"2\\" rowspan=\\"1\\" rowstart=\\"6\\"><p indentation=\\"1\\"><span class=\\"Calibri_Black_12_0\\"><bbox height=\\"7.584000587463379\\" page=\\"1\\" width=\\"32.56549072265625\\" x=\\"171.26181030273438\\" y=\\"167.14915466308594\\">76.1% </bbox></span></p></td><td colspan=\\"1\\" colstart=\\"3\\" rowspan=\\"1\\" rowstart=\\"6\\"><p indentation=\\"2\\"><span class=\\"Calibri_Black_12_0\\"><bbox height=\\"7.584000587463379\\" page=\\"1\\" width=\\"26.4835205078125\\" x=\\"264.8616943359375\\" y=\\"167.14915466308594\\">4.3% </bbox></span></p></td><td colspan=\\"1\\" colstart=\\"4\\" rowspan=\\"1\\" rowstart=\\"6\\"><p indentation=\\"3\\"><span class=\\"Calibri_Black_12_0\\"><bbox height=\\"7.584000587463379\\" page=\\"1\\" width=\\"32.56561279296875\\" x=\\"358.2216796875\\" y=\\"167.14915466308594\\">38.8% </bbox></span></p></td><td colspan=\\"1\\" colstart=\\"5\\" rowspan=\\"1\\" rowstart=\\"6\\"><p indentation=\\"4\\"><span class=\\"Calibri_Black_12_0\\"><bbox height=\\"7.584000587463379\\" page=\\"1\\" width=\\"32.56536865234375\\" x=\\"451.8216857910156\\" y=\\"167.14915466308594\\">15.1% </bbox></span></p></td></tr></tbody></table></body></html>",\n    "hash": "b9cb5215469f7b4395cf1f1e63e2a1a5"\n  },\n  "model_id": "tables",\n  "model_version": "0.4.7",\n  "tables": [\n    {\n      "location": {\n        "begin": 786,\n        "end": 7589\n      },\n      "text": "  Three months ended setptember 30 Nine months ended setptember 30    2005 2004 2005 2004 Statatory tax rate 35% 36% 37% 38% IRS audit settlement 97% 35.5% 58% 15.2% Dividends received 13.2% 3.3% 15.4% 4.7% Total tax rate 76.1% 4.3% 38.8% 15.1% ",\n      "section_title": {},\n      "title": {},\n      "table_headers": [],\n      "row_headers": [\n        {\n          "cell_id": "rowHeader-2810-2829",\n          "location": {\n            "begin": 2810,\n            "end": 2829\n          },\n          "text": "Statatory tax rate",\n          "text_normalized": "Statatory tax rate",\n          "row_index_begin": 2,\n          "row_index_end": 2,\n          "column_index_begin": 0,\n          "column_index_end": 0\n        },\n        {\n          "cell_id": "rowHeader-4068-4089",\n          "location": {\n            "begin": 4068,\n            "end": 4089\n          },\n          "text": "IRS audit settlement",\n          "text_normalized": "IRS audit settlement",\n          "row_index_begin": 3,\n          "row_index_end": 3,\n          "column_index_begin": 0,\n          "column_index_end": 0\n        },\n        {\n          "cell_id": "rowHeader-5329-5348",\n          "location": {\n            "begin": 5329,\n            "end": 5348\n          },\n          "text": "Dividends received",\n          "text_normalized": "Dividends received",\n          "row_index_begin": 4,\n          "row_index_end": 4,\n          "column_index_begin": 0,\n          "column_index_end": 0\n        },\n        {\n          "cell_id": "rowHeader-6586-6601",\n          "location": {\n            "begin": 6586,\n            "end": 6601\n          },\n          "text": "Total tax rate",\n          "text_normalized": "Total tax rate",\n          "row_index_begin": 5,\n          "row_index_end": 5,\n          "column_index_begin": 0,\n          "column_index_end": 0\n        }\n      ],\n      "column_headers": [\n        {\n          "cell_id": "colHeader-786-787",\n          "location": {\n            "begin": 786,\n            "end": 787\n          },\n          "text": "",\n          "text_normalized": "",\n          "row_index_begin": 0,\n          "row_index_end": 0,\n          "column_index_begin": 0,\n          "column_index_end": 0\n        },\n        {\n          "cell_id": "colHeader-1012-1206",\n          "location": {\n            "begin": 1012,\n            "end": 1206\n          },\n          "text": "Three months ended setptember 30",\n          "text_normalized": "Three months ended setptember 30",\n          "row_index_begin": 0,\n          "row_index_end": 0,\n          "column_index_begin": 1,\n          "column_index_end": 2\n        },\n        {\n          "cell_id": "colHeader-1444-1514",\n          "location": {\n            "begin": 1444,\n            "end": 1514\n          },\n          "text": "Nine months ended setptember 30",\n          "text_normalized": "Nine months ended setptember 30",\n          "row_index_begin": 0,\n          "row_index_end": 0,\n          "column_index_begin": 3,\n          "column_index_end": 4\n        },\n        {\n          "cell_id": "colHeader-1586-1587",\n          "location": {\n            "begin": 1586,\n            "end": 1587\n          },\n          "text": "",\n          "text_normalized": "",\n          "row_index_begin": 1,\n          "row_index_end": 1,\n          "column_index_begin": 0,\n          "column_index_end": 0\n        },\n        {\n          "cell_id": "colHeader-1813-1818",\n          "location": {\n            "begin": 1813,\n            "end": 1818\n          },\n          "text": "2005",\n          "text_normalized": "2005",\n          "row_index_begin": 1,\n          "row_index_end": 1,\n          "column_index_begin": 1,\n          "column_index_end": 1\n        },\n        {\n          "cell_id": "colHeader-2061-2066",\n          "location": {\n            "begin": 2061,\n            "end": 2066\n          },\n          "text": "2004",\n          "text_normalized": "2004",\n          "row_index_begin": 1,\n          "row_index_end": 1,\n          "column_index_begin": 2,\n          "column_index_end": 2\n        },\n        {\n          "cell_id": "colHeader-2305-2310",\n          "location": {\n            "begin": 2305,\n            "end": 2310\n          },\n          "text": "2005",\n          "text_normalized": "2005",\n          "row_index_begin": 1,\n          "row_index_end": 1,\n          "column_index_begin": 3,\n          "column_index_end": 3\n        },\n        {\n          "cell_id": "colHeader-2553-2558",\n          "location": {\n            "begin": 2553,\n            "end": 2558\n          },\n          "text": "2004",\n          "text_normalized": "2004",\n          "row_index_begin": 1,\n          "row_index_end": 1,\n          "column_index_begin": 4,\n          "column_index_end": 4\n        }\n      ],\n      "body_cells": [\n        {\n          "cell_id": "bodyCell-3073-3077",\n          "location": {\n            "begin": 3073,\n            "end": 3077\n          },\n          "text": "35%",\n          "row_index_begin": 2,\n          "row_index_end": 2,\n          "column_index_begin": 1,\n          "column_index_end": 1,\n          "row_header_ids": [\n            "rowHeader-2810-2829"\n          ],\n          "row_header_texts": [\n            "Statatory tax rate"\n          ],\n          "row_header_texts_normalized": [\n            "Statatory tax rate"\n          ],\n          "column_header_ids": [\n            "colHeader-1012-1206",\n            "colHeader-1813-1818"\n          ],\n          "column_header_texts": [\n            "Three months ended setptember 30",\n            "2005"\n          ],\n          "column_header_texts_normalized": [\n            "Three months ended setptember 30",\n            "2005"\n          ],\n          "attributes": [\n            {\n              "type": "Percentage",\n              "text": "35%",\n              "location": {\n                "begin": 3073,\n                "end": 3076\n              }\n            }\n          ]\n        },\n        {\n          "cell_id": "bodyCell-3320-3324",\n          "location": {\n            "begin": 3320,\n            "end": 3324\n          },\n          "text": "36%",\n          "row_index_begin": 2,\n          "row_index_end": 2,\n          "column_index_begin": 2,\n          "column_index_end": 2,\n          "row_header_ids": [\n            "rowHeader-2810-2829"\n          ],\n          "row_header_texts": [\n            "Statatory tax rate"\n          ],\n          "row_header_texts_normalized": [\n            "Statatory tax rate"\n          ],\n          "column_header_ids": [\n            "colHeader-1012-1206",\n            "colHeader-2061-2066"\n          ],\n          "column_header_texts": [\n            "Three months ended setptember 30",\n            "2004"\n          ],\n          "column_header_texts_normalized": [\n            "Three months ended setptember 30",\n            "2004"\n          ],\n          "attributes": [\n            {\n              "type": "Percentage",\n              "text": "36%",\n              "location": {\n                "begin": 3320,\n                "end": 3323\n              }\n            }\n          ]\n        },\n        {\n          "cell_id": "bodyCell-3564-3568",\n          "location": {\n            "begin": 3564,\n            "end": 3568\n          },\n          "text": "37%",\n          "row_index_begin": 2,\n          "row_index_end": 2,\n          "column_index_begin": 3,\n          "column_index_end": 3,\n          "row_header_ids": [\n            "rowHeader-2810-2829"\n          ],\n          "row_header_texts": [\n            "Statatory tax rate"\n          ],\n          "row_header_texts_normalized": [\n            "Statatory tax rate"\n          ],\n          "column_header_ids": [\n            "colHeader-1444-1514",\n            "colHeader-2305-2310"\n          ],\n          "column_header_texts": [\n            "Nine months ended setptember 30",\n            "2005"\n          ],\n          "column_header_texts_normalized": [\n            "Nine months ended setptember 30",\n            "2005"\n          ],\n          "attributes": [\n            {\n              "type": "Percentage",\n              "text": "37%",\n              "location": {\n                "begin": 3564,\n                "end": 3567\n              }\n            }\n          ]\n        },\n        {\n          "cell_id": "bodyCell-3811-3815",\n          "location": {\n            "begin": 3811,\n            "end": 3815\n          },\n          "text": "38%",\n          "row_index_begin": 2,\n          "row_index_end": 2,\n          "column_index_begin": 4,\n          "column_index_end": 4,\n          "row_header_ids": [\n            "rowHeader-2810-2829"\n          ],\n          "row_header_texts": [\n            "Statatory tax rate"\n          ],\n          "row_header_texts_normalized": [\n            "Statatory tax rate"\n          ],\n          "column_header_ids": [\n            "colHeader-1444-1514",\n            "colHeader-2553-2558"\n          ],\n          "column_header_texts": [\n            "Nine months ended setptember 30",\n            "2004"\n          ],\n          "column_header_texts_normalized": [\n            "Nine months ended setptember 30",\n            "2004"\n          ],\n          "attributes": [\n            {\n              "type": "Percentage",\n              "text": "38%",\n              "location": {\n                "begin": 3811,\n                "end": 3814\n              }\n            }\n          ]\n        },\n        {\n          "cell_id": "bodyCell-4333-4337",\n          "location": {\n            "begin": 4333,\n            "end": 4337\n          },\n          "text": "97%",\n          "row_index_begin": 3,\n          "row_index_end": 3,\n          "column_index_begin": 1,\n          "column_index_end": 1,\n          "row_header_ids": [\n            "rowHeader-4068-4089"\n          ],\n          "row_header_texts": [\n            "IRS audit settlement"\n          ],\n          "row_header_texts_normalized": [\n            "IRS audit settlement"\n          ],\n          "column_header_ids": [\n            "colHeader-1012-1206",\n            "colHeader-1813-1818"\n          ],\n          "column_header_texts": [\n            "Three months ended setptember 30",\n            "2005"\n          ],\n          "column_header_texts_normalized": [\n            "Three months ended setptember 30",\n            "2005"\n          ],\n          "attributes": [\n            {\n              "type": "Percentage",\n              "text": "97%",\n              "location": {\n                "begin": 4333,\n                "en

In [7]:
import text_extensions_for_pandas as tp

In [180]:
#select a response and process it, printing the outputs
response = responses_dict["double_header_table"]

dfs_dict = tp.watson_tables_parse_response(response)

1

In [181]:
print("displaying headers")
display(dfs_dict['row_headers'])
display(dfs_dict['col_headers'])
print("displaying objects")
display(dfs_dict['body_cells'])

displaying headers

,text,column_index_begin,column_index_end,row_index_begin,row_index_end,cell_id,text_normalized
0,Statatory tax rate,0,0,2,2,rowHeader-2810-2829,Statatory tax rate
1,IRS audit settlement,0,0,3,3,rowHeader-4068-4089,IRS audit settlement
2,Dividends received,0,0,4,4,rowHeader-5329-5348,Dividends received
3,Total tax rate,0,0,5,5,rowHeader-6586-6601,Total tax rate

,text,column_index_begin,column_index_end,row_index_begin,row_index_end,cell_id,text_normalized
0,,0,0,0,0,colHeader-786-787,
1,Three months ended setptember 30,1,2,0,0,colHeader-1012-1206,Three months ended setptember 30
2,Nine months ended setptember 30,3,4,0,0,colHeader-1444-1514,Nine months ended setptember 30
3,,0,0,1,1,colHeader-1586-1587,
4,2005,1,1,1,1,colHeader-1813-1818,2005
5,2004,2,2,1,1,colHeader-2061-2066,2004
6,2005,3,3,1,1,colHeader-2305-2310,2005
7,2004,4,4,1,1,colHeader-2553-2558,2004

displaying objects

,text,column_index_begin,column_index_end,row_index_begin,row_index_end,cell_id,column_header_ids,column_header_texts,row_header_ids,row_header_texts
0,35%,1,1,2,2,bodyCell-3073-3077,"[colHeader-1012-1206, colHeader-1813-1818]","[Three months ended setptember 30, 2005]",[rowHeader-2810-2829],[Statatory tax rate]
1,36%,2,2,2,2,bodyCell-3320-3324,"[colHeader-1012-1206, colHeader-2061-2066]","[Three months ended setptember 30, 2004]",[rowHeader-2810-2829],[Statatory tax rate]
2,37%,3,3,2,2,bodyCell-3564-3568,"[colHeader-1444-1514, colHeader-2305-2310]","[Nine months ended setptember 30, 2005]",[rowHeader-2810-2829],[Statatory tax rate]
3,38%,4,4,2,2,bodyCell-3811-3815,"[colHeader-1444-1514, colHeader-2553-2558]","[Nine months ended setptember 30, 2004]",[rowHeader-2810-2829],[Statatory tax rate]
4,97%,1,1,3,3,bodyCell-4333-4337,"[colHeader-1012-1206, colHeader-1813-1818]","[Three months ended setptember 30, 2005]",[rowHeader-4068-4089],[IRS audit settlement]
5,35.5%,2,2,3,3,bodyCell-4579-4585,"[colHeader-1012-1206, colHeader-2061-2066]","[Three months ended setptember 30, 2004]",[rowHeader-4068-4089],[IRS audit settlement]
6,58%,3,3,3,3,bodyCell-4825-4829,"[colHeader-1444-1514, colHeader-2305-2310]","[Nine months ended setptember 30, 2005]",[rowHeader-4068-4089],[IRS audit settlement]
7,15.2%,4,4,3,3,bodyCell-5071-5077,"[colHeader-1444-1514, colHeader-2553-2558]","[Nine months ended setptember 30, 2004]",[rowHeader-4068-4089],[IRS audit settlement]
8,13.2%,1,1,4,4,bodyCell-5591-5597,"[colHeader-1012-1206, colHeader-1813-1818]","[Three months ended setptember 30, 2005]",[rowHeader-5329-5348],[Dividends received]
9,3.3%,2,2,4,4,bodyCell-5838-5843,"[colHeader-1012-1206, colHeader-2061-2066]","[Three months ended setptember 30, 2004]",[rowHeader-5329-5348],[Dividends received]
10,15.4%,3,3,4,4,bodyCell-6082-6088,"[colHeader-1444-1514, colHeader-2305-2310]","[Nine months ended setptember 30, 2005]",[rowHeader-5329-5348],[Dividends received]
11,4.7%,4,4,4,4,bodyCell-6329-6334,"[colHeader-1444-1514, colHeader-2553-2558]","[Nine months ended setptember 30, 2004]",[rowHeader-5329-5348],[Dividends received]
12,76.1%,1,1,5,5,bodyCell-6844-6850,"[colHeader-1012-1206, colHeader-1813-1818]","[Three months ended setptember 30, 2005]",[rowHeader-6586-6601],[Total tax rate]
13,4.3%,2,2,5,5,bodyCell-7091-7096,"[colHeader-1012-1206, colHeader-2061-2066]","[Three months ended setptember 30, 2004]",[rowHeader-6586-6601],[Total tax rate]
14,38.8%,3,3,5,5,bodyCell-7335-7341,"[colHeader-1444-1514, colHeader-2305-2310]","[Nine months ended setptember 30, 2005]",[rowHeader-6586-6601],[Total tax rate]
15,15.1%,4,4,5,5,bodyCell-7583-7589,"[colHeader-1444-1514, colHeader-2553-2558]","[Nine months ended setptember 30, 2004]",[rowHeader-6586-6601],[Total tax rate]

In [184]:
body = dfs_dict['body_cells'] 
cols = dfs_dict["col_headers"] 
rows = dfs_dict["row_headers"]

In [203]:

def horiz_explode(df_in,column):
    # a function to horizontally "explode" column headings 
    
    df = df_in.copy()
    #find max length of list 
    feild_names = []
    for ind, row in df.iterrows():
        feild_list = row[column]
        for num, val in enumerate(feild_list):
            colname = f"{column}_{num}"
            df.loc[ind, colname] = val
            if not(colname in feild_names): feild_names.append(colname)
    df.drop(columns = column)
    return df, feild_names
                
    
exploded, col_header_names = horiz_explode(body,"column_header_texts")
exploded, row_header_names = horiz_explode(exploded,"row_header_texts")

display(col_header_names)

display(exploded)

table = exploded.pivot_table(index= row_header_names, columns= col_header_names, values= "text", aggfunc=(lambda a:" | ".join(a)))
table

['column_header_texts_0', 'column_header_texts_1']

,text,column_index_begin,column_index_end,row_index_begin,row_index_end,cell_id,column_header_ids,column_header_texts,row_header_ids,row_header_texts,column_header_texts_0,column_header_texts_1,row_header_texts_0
0,35%,1,1,2,2,bodyCell-3073-3077,"[colHeader-1012-1206, colHeader-1813-1818]","[Three months ended setptember 30, 2005]",[rowHeader-2810-2829],[Statatory tax rate],Three months ended setptember 30,2005,Statatory tax rate
1,36%,2,2,2,2,bodyCell-3320-3324,"[colHeader-1012-1206, colHeader-2061-2066]","[Three months ended setptember 30, 2004]",[rowHeader-2810-2829],[Statatory tax rate],Three months ended setptember 30,2004,Statatory tax rate
2,37%,3,3,2,2,bodyCell-3564-3568,"[colHeader-1444-1514, colHeader-2305-2310]","[Nine months ended setptember 30, 2005]",[rowHeader-2810-2829],[Statatory tax rate],Nine months ended setptember 30,2005,Statatory tax rate
3,38%,4,4,2,2,bodyCell-3811-3815,"[colHeader-1444-1514, colHeader-2553-2558]","[Nine months ended setptember 30, 2004]",[rowHeader-2810-2829],[Statatory tax rate],Nine months ended setptember 30,2004,Statatory tax rate
4,97%,1,1,3,3,bodyCell-4333-4337,"[colHeader-1012-1206, colHeader-1813-1818]","[Three months ended setptember 30, 2005]",[rowHeader-4068-4089],[IRS audit settlement],Three months ended setptember 30,2005,IRS audit settlement
5,35.5%,2,2,3,3,bodyCell-4579-4585,"[colHeader-1012-1206, colHeader-2061-2066]","[Three months ended setptember 30, 2004]",[rowHeader-4068-4089],[IRS audit settlement],Three months ended setptember 30,2004,IRS audit settlement
6,58%,3,3,3,3,bodyCell-4825-4829,"[colHeader-1444-1514, colHeader-2305-2310]","[Nine months ended setptember 30, 2005]",[rowHeader-4068-4089],[IRS audit settlement],Nine months ended setptember 30,2005,IRS audit settlement
7,15.2%,4,4,3,3,bodyCell-5071-5077,"[colHeader-1444-1514, colHeader-2553-2558]","[Nine months ended setptember 30, 2004]",[rowHeader-4068-4089],[IRS audit settlement],Nine months ended setptember 30,2004,IRS audit settlement
8,13.2%,1,1,4,4,bodyCell-5591-5597,"[colHeader-1012-1206, colHeader-1813-1818]","[Three months ended setptember 30, 2005]",[rowHeader-5329-5348],[Dividends received],Three months ended setptember 30,2005,Dividends received
9,3.3%,2,2,4,4,bodyCell-5838-5843,"[colHeader-1012-1206, colHeader-2061-2066]","[Three months ended setptember 30, 2004]",[rowHeader-5329-5348],[Dividends received],Three months ended setptember 30,2004,Dividends received
10,15.4%,3,3,4,4,bodyCell-6082-6088,"[colHeader-1444-1514, colHeader-2305-2310]","[Nine months ended setptember 30, 2005]",[rowHeader-5329-5348],[Dividends received],Nine months ended setptember 30,2005,Dividends received
11,4.7%,4,4,4,4,bodyCell-6329-6334,"[colHeader-1444-1514, colHeader-2553-2558]","[Nine months ended setptember 30, 2004]",[rowHeader-5329-5348],[Dividends received],Nine months ended setptember 30,2004,Dividends received
12,76.1%,1,1,5,5,bodyCell-6844-6850,"[colHeader-1012-1206, colHeader-1813-1818]","[Three months ended setptember 30, 2005]",[rowHeader-6586-6601],[Total tax rate],Three months ended setptember 30,2005,Total tax rate
13,4.3%,2,2,5,5,bodyCell-7091-7096,"[colHeader-1012-1206, colHeader-2061-2066]","[Three months ended setptember 30, 2004]",[rowHeader-6586-6601],[Total tax rate],Three months ended setptember 30,2004,Total tax rate
14,38.8%,3,3,5,5,bodyCell-7335-7341,"[colHeader-1444-1514, colHeader-2305-2310]","[Nine months ended setptember 30, 2005]",[rowHeader-6586-6601],[Total tax rate],Nine months ended setptember 30,2005,Total tax rate
15,15.1%,4,4,5,5,bodyCell-7583-7589,"[colHeader-1444-1514, colHeader-2553-2558]","[Nine months ended setptember 30, 2004]",[rowHeader-6586-6601],[Total tax rate],Nine months ended setptember 30,2004,Total tax rate

column_header_texts_0 Nine months ended setptember 30         \
column_header_texts_1                            2004   2005
row_header_texts_0
Dividends received                               4.7%  15.4%
IRS audit settlement                            15.2%    58%
Statatory tax rate                                38%    37%
Total tax rate                                  15.1%  38.8%

column_header_texts_0 Three months ended setptember 30
column_header_texts_1                             2004   2005
row_header_texts_0
Dividends received                                3.3%  13.2%
IRS audit settlement                             35.5%    97%
Statatory tax rate                                 36%    35%
Total tax rate                                    4.3%  76.1%

In [145]:
#"Third option" for combination. combines headings. Ideally there would be a more robust way to do this rather than just appending strings 
#  this should work, but is sub ideal. 
def agg_headers(series ):
    for rowOrCol in ["row", "column"]:
        feild = f"{rowOrCol}_header_texts"
        series[feild] = ", ".join(series[feild])
    return series
filled = body.apply(agg_headers, axis=1) 
display(filled)

table = filled.pivot(index= "row_header_texts", columns= "column_header_texts", values= "text")
table

,text,column_index_begin,column_index_end,row_index_begin,row_index_end,cell_id,column_header_ids,column_header_texts,row_header_ids,row_header_texts
0,35%,1,1,2,2,bodyCell-3073-3077,"[colHeader-1012-1206, colHeader-1813-1818]","Three months ended setptember 30, 2005",[rowHeader-2810-2829],Statatory tax rate
1,36%,2,2,2,2,bodyCell-3320-3324,"[colHeader-1012-1206, colHeader-2061-2066]","Three months ended setptember 30, 2004",[rowHeader-2810-2829],Statatory tax rate
2,37%,3,3,2,2,bodyCell-3564-3568,"[colHeader-1444-1514, colHeader-2305-2310]","Nine months ended setptember 30, 2005",[rowHeader-2810-2829],Statatory tax rate
3,38%,4,4,2,2,bodyCell-3811-3815,"[colHeader-1444-1514, colHeader-2553-2558]","Nine months ended setptember 30, 2004",[rowHeader-2810-2829],Statatory tax rate
4,97%,1,1,3,3,bodyCell-4333-4337,"[colHeader-1012-1206, colHeader-1813-1818]","Three months ended setptember 30, 2005",[rowHeader-4068-4089],IRS audit settlement
5,35.5%,2,2,3,3,bodyCell-4579-4585,"[colHeader-1012-1206, colHeader-2061-2066]","Three months ended setptember 30, 2004",[rowHeader-4068-4089],IRS audit settlement
6,58%,3,3,3,3,bodyCell-4825-4829,"[colHeader-1444-1514, colHeader-2305-2310]","Nine months ended setptember 30, 2005",[rowHeader-4068-4089],IRS audit settlement
7,15.2%,4,4,3,3,bodyCell-5071-5077,"[colHeader-1444-1514, colHeader-2553-2558]","Nine months ended setptember 30, 2004",[rowHeader-4068-4089],IRS audit settlement
8,13.2%,1,1,4,4,bodyCell-5591-5597,"[colHeader-1012-1206, colHeader-1813-1818]","Three months ended setptember 30, 2005",[rowHeader-5329-5348],Dividends received
9,3.3%,2,2,4,4,bodyCell-5838-5843,"[colHeader-1012-1206, colHeader-2061-2066]","Three months ended setptember 30, 2004",[rowHeader-5329-5348],Dividends received
10,15.4%,3,3,4,4,bodyCell-6082-6088,"[colHeader-1444-1514, colHeader-2305-2310]","Nine months ended setptember 30, 2005",[rowHeader-5329-5348],Dividends received
11,4.7%,4,4,4,4,bodyCell-6329-6334,"[colHeader-1444-1514, colHeader-2553-2558]","Nine months ended setptember 30, 2004",[rowHeader-5329-5348],Dividends received
12,76.1%,1,1,5,5,bodyCell-6844-6850,"[colHeader-1012-1206, colHeader-1813-1818]","Three months ended setptember 30, 2005",[rowHeader-6586-6601],Total tax rate
13,4.3%,2,2,5,5,bodyCell-7091-7096,"[colHeader-1012-1206, colHeader-2061-2066]","Three months ended setptember 30, 2004",[rowHeader-6586-6601],Total tax rate
14,38.8%,3,3,5,5,bodyCell-7335-7341,"[colHeader-1444-1514, colHeader-2305-2310]","Nine months ended setptember 30, 2005",[rowHeader-6586-6601],Total tax rate
15,15.1%,4,4,5,5,bodyCell-7583-7589,"[colHeader-1444-1514, colHeader-2553-2558]","Nine months ended setptember 30, 2004",[rowHeader-6586-6601],Total tax rate

column_header_texts,"Nine months ended setptember 30, 2004","Nine months ended setptember 30, 2005","Three months ended setptember 30, 2004","Three months ended setptember 30, 2005"
row_header_texts,,,,
Dividends received,4.7%,15.4%,3.3%,13.2%
IRS audit settlement,15.2%,58%,35.5%,97%
Statatory tax rate,38%,37%,36%,35%
Total tax rate,15.1%,38.8%,4.3%,76.1%

In [184]:
all_cells = body.append(rows).append(cols)

# this method is guarunteed to give something that does indeed work. every row / column pair is unique
# The downside being that right now, it doesn't have proper row/column titles. 
# aesthetically similar, but not really good. 

all_cells['row_index'] = [list(range(r.row_index_begin, r.row_index_end+1)) for _, r in all_cells.iterrows()]
all_cells['column_index'] = [list(range(r.column_index_begin, r.column_index_end+1)) for _, r in all_cells.iterrows()]
all_cells = all_cells.explode("column_index")
all_cells = all_cells.explode("row_index")


table = all_cells.pivot(index= "row_index", columns= "column_index", values = "text")
table

column_index,0,1,2,3,4
row_index,,,,,
0,,Three months ended setptember 30,Three months ended setptember 30,Nine months ended setptember 30,Nine months ended setptember 30
1,,2005,2004,2005,2004
2,Statatory tax rate,35%,36%,37%,38%
3,IRS audit settlement,97%,35.5%,58%,15.2%
4,Dividends received,13.2%,3.3%,15.4%,4.7%
5,Total tax rate,76.1%,4.3%,38.8%,15.1%